.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    transition: all 100ms ease;
}

a:hover {
    color: #86c3cb;
}

.active {
    color: #00afc7;
}

.active:hover {
    color: #00afc7;
}

.auth-btn {
    border: 2px solid #aad647;
    outline: none;
    height: 40px;
    width: 100px;
    background: #00afc7;
    border-radius: 8px;
    font-size: 17px;
    color: white;
    cursor: pointer;
    transition: background-color 200ms ease;
}

.auth-btn:hover {
    background: #aad647;
}